<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--topbar-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <a style="color: #e2e6ea" class="navbar-brand col-sm-3 col-md-2 mr-0" >[[${session.loginUser.userName}]]</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/emp/SignOut}">退出</a>
        </li>
    </ul>
</nav>

<!--sidebar-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
    <div class="sidebar-sticky">
        <ul >
            <li><a th:href="@{/emps/getAll}">总商品</a></li>
            <li ><a th:href="@{/emps/addGood}">添加商品</a></li>
            <li ><a th:href="@{/emps/SaleStatic}">销售统计</a></li>
            <li ><a th:href="@{/emps/HaveStatic}">库存统计</a></li>
        </ul>
    </div>
</nav>

</body>
</html>